# PostgreSQL
DATABASE_URL=
DIRECT_URL=

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Shipping API Configuration
SHIPPING_API_URL=
SHIPPING_API_KEY=

# Payments API Configuration
PAYMENTS_API_URL=
PAYMENTS_API_KEY=